@import "../../styles/typo.module.scss";


.thumbnail{
        min-width: 25%;
        // flex: 1;
        // background-color: #000;
        // min-height: 200px;
        max-width: 25%;
}

.article{
    margin: $lineHeight 0;
    display: flex;
}

.languagesWrapper{
    display: flex !important;
    opacity: 1;
    flex-direction: row-reverse;
    a{
        width: fit-content! important;
        margin-left: 0.25*$lineHeight;
        color: rgba(0, 0, 0, 0.4);
        button{
            &:before{
            content:'[';
            }
            &:after{
                content:']';
            }
        }
        button{
            // all: unset;
        }
        // &:last-of-type{
        //     margin-right: 0;
        // }
    
    }

    
}

.articleExcerpt{
    width: 100%;
    height: fit-content;
}
.articleTagWrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: flex-end;
    // margin-bottom: 2*$lineHeight;
    h4{
        margin: 0 0.1*$lineHeight;
        opacity: 1;
        &:first-of-type{
            margin: 0 0.1*$lineHeight 0 0;
        }
    }
}


// .results { 
    .articleFeature, .articlePictorial, .relatedArticle{
    width: 100%;
    display:flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: $lineHeight;
    
    .articleBody{
        flex-direction: row;
        padding-left: $lineHeight;
        h1{
            width: 100%;
            font-size: $fontSizeL;
            line-height: $lineHeightL;
        }
    }
    .articleExcerpt {
        p{
         font-size: $fontSize;
        line-height: $lineHeight;
        @include nm-book;
        }
    }
    .articleTagWrapper{
        // order:99;
    }
    // .languagesWrapper{
    //     a{
    //         color: rgba(0,0,0,1);
    //     }
    //     &:hover{
    //         .languagesWrapper{
    //             button:before{
    //                 color: rgba(0,0,0,1);
    //             }
    //         }
    //     }
// }
    .languagesWrapper{
        flex-grow: 1;
    }
    .articleTagWrapper, .languagesWrapper{
        width:fit-content;
        height: fit-content;
        margin-bottom: unset;
        align-self: flex-end;
        h4{
        height: fit-content;
        }
    
    }

 }
// }

.articleCollection{
    display: flex;
    flex-direction: column;

    .thumbnail{
        width: calc(100% - 2*$lineHeight);
        margin-top: $lineHeight;
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
    }
    .articleBody{
        flex-direction: row;
        padding: $lineHeight 1*$lineHeight;
        flex-grow: 1 ;
    p, h1, div{
        margin: 0.5*$lineHeight 0;
        line-height: $lineHeight;
    }
    .articleTagWrapper{
        flex-direction: row;
        flex-wrap: wrap;
    }
    .languagesWrapper{
        width: 100%;
        justify-content: center;
    }
    }

 }
 
.articleBody{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between !important;
    padding-left: 0.5*$lineHeight;
    flex: 1;
    height: auto;


    p, h1, div{
        margin: 0.5*$lineHeight 0;
        line-height: $lineHeight;

        &:first-child{
            margin-top: unset !important;
        }        
        &:last-child{
            margin-bottom: unset !important;
        }
    }
    p{
        display: inline-flex;
        height: fit-content;
    }
    h1{
        width: 100%;
        text-align: center;
        height: fit-content;

    }
}

 .categoriesArticle{
    display: flex;
    flex-direction: row;
    height: fit-content;
 }

 .recommendedArticle{
     width: 100%;
     display:flex;
     flex-direction: row;
     box-sizing: border-box;
     padding: $lineHeight;
     .thumbnail{
         min-width: calc(3/10 * 100% - 2*$lineHeight);
     }
     .articleBody{
         flex-direction: row;
         padding-left: $lineHeight;
         h1{
             width: 100%;
             font-size: $fontSizeL;
             line-height: $lineHeightL;
         }


         }
         .articleExcerpt {
            p{
             font-size: $fontSizeM;
            line-height: $lineHeightM;
            @include nm-book;
            }
        }
        .articleTagWrapper{
            // order:99;
        }
        .languagesWrapper{
            a{
                color: rgba(0,0,0,0.4);
            }
        }
        .articleTagWrapper, .languagesWrapper{
            width:fit-content;
            height: fit-content;
            margin-bottom: unset;
            align-self: flex-end;
            h4{
            height: fit-content;
            }
        
        }
     }



a, li, li a, .articleBody, a:before, a:after, button:before, button:after{
    transition: $transitionFade;
}

ul, .swiper-slide-active, .swiper-slide{
    a{
        &:hover {
            li, .collectionsArticle, .recommendedArticle{
                background-color: $hoverbg-color1;
                border-radius: 12px ;
                // filter: invert(1);
                h1, h4, span, p{
                    // color: #fff;
                    font-weight: 100;
                }
                }
            }
        
    }
}

.languagesWrapper {
     button:before, button:after{
        color: rgba(0, 0, 0, 0); 

    }
}



    .languagesWrapper a:hover{
        button:after, button:before{
            color: rgba(0, 0, 0, 0.4) !important;
        }
}



@media screen and (max-width: $small) {
    .recommendedArticle{
    flex-direction: column;
    padding: 0.5*$lineHeight;
        .thumbnail{
            max-width: 100%;
            margin-bottom: 0.5*$lineHeight;
        }
        .articleBody{
            padding: 0;
        }
        .articleTagWrapper, .languagesWrapper{
            flex-direction: column;
        }
    }

}



