@import "../styles/typo.module.scss";
@import "../components/article/article.module.scss";

html {
    scroll-behavior: smooth;
    scroll-padding-top: 130px;
  }
  
.categoryOverview{
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr) [col]);
    column-gap: $lineHeight;
}

.tagsSidebar, .results { 
    // animation: 2s appearO;
}


.tagsSidebar{
    // width: 31.6%;
    // position: fixed;
    display: block;
    grid-column-start: 1;
    grid-column-end: 5;
    
    // position: sticky;
    // top: 2.5*$lineHeight;
    // height: calc(100vh - 6*$lineHeight);
    > div{
        display:grid;
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: [row] $lineHeight [row] $lineHeight [row] auto;
        column-gap: $lineHeight;
        position: sticky;
        top: 3*$lineHeight;
        height: calc(100vh - 2*$lineHeight);

        &:before{
            content:']';
            grid-row-start: 2;
            grid-column-start: 2;
        }
        &:after{
            content:'[';
            grid-row-start: 4;
            grid-column-start: 4;
            padding-bottom: $lineHeight;
        }

        h2{
            text-align: right;
            grid-column-start: 1;

        }
        div{
            height: 100%;
            grid-row-start: 3;
            grid-column-start: 2;
            grid-column-end: 5;
            width: 100%;
            overflow-y: auto;
        ul{

            display: block;
            // flex-direction: column;
            // max-height: 80vh;
            // flex-wrap: wrap;
            column-count: 2;
            column-gap: 1*$lineHeight;
            column-fill: auto;
            height: 100%;
            // width: 100%;

            li{ 
                &:last-of-type{
                    button{
                        padding-bottom: 1*$lineHeight;
                    }
                }
                display: flex;
                position: relative;
                // width: calc(50% - 0.25*$lineHeight);
                // grid-auto-flow: column;
                // column-gap: 1*$lineHeight;
                // justify-content: space-between;
                padding: 0.20*$lineHeight 0 ;
                white-space: nowrap;
                button{
                    // animation: 0.5s appearOsmall;
                    transition: $transitionFade;
                   &:hover{
                    cursor: pointer;

                   }
                }

                button:last-of-type:not(:first-of-type){
                    &:hover{
                        opacity: 0.4
                    }
                }
                button:last-of-type{
                    &:hover{
                        
                    }

                    // margin-top: unset;
                    // grid-column: 2/4;
                    // // text-align: left;
                    // &:before{
                    //     content:'';
                    // }
                    // &:after{
                    //     content:'';
                    // }
                }

                // button:first-of-type, button:not(button:last-of-type){
                //     background-color: aqua;
                // }
            }

        }
    }
    }
}

.results{
    grid-column-start: 5;
    grid-column-end: 12;

    .article{
        background-color: #000;
    }

    ul{
        padding-top: $lineHeight;
        a{

        }
    }
}


.articleWrapper{
    grid-template-columns: repeat(12, 1fr [col]) !important;
    column-gap: $lineHeight;
    display: grid !important;
    position: relative;

    button{
        display:block;
        text-align: right;
        height: fit-content;
        padding: 0 1*$lineHeight;
    }



    .topBrackets{
        grid-column-start: col 1;
        grid-column-end: col 11;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    
    .articleTagWrapper{
        grid-column-start: col 2;
        grid-column-end: col 10;
        width: 100%;
         display: flex;
    }

    .articleContent{
        margin-top: 2*$lineHeight;
        grid-column-start: col 2;
        grid-column-end: col 10;
        display:flex;
        flex-direction: column;
        
        height:fit-content;
        a{
            font-size: inherit;
        }
        h1{
            font-size: $fontSizeL;
            line-height: $lineHeightXL;
            text-align: center;
            margin: 3*$lineHeight 0;
        }
        h2{
            font-size: $fontSizeL;
            line-height: $lineHeightL;
            text-align: left;
            margin: 1*$lineHeight 0;
        }
        h3{
            font-size: $fontSizeM;
            line-height: $lineHeightM;
            text-align: left;
            margin: 1*$lineHeight 0;
        }
        h4{
            font-size: $fontSize;
            width: fit-content;
        }
    
        p{
            font-size: $fontSizeM;
            line-height: $lineHeightL;
            white-space: pre-wrap;
            margin-top: $lineHeight;
        }
        picture {
            width: 100%;
            height: fit-content;
            img{
                // width: 100%;
                height: fit-content;
                
            }
        }

    }
    .relatedPostsWrapper{
        grid-column-start: col 1;
        grid-column-end: col 11;
        // grid-row-start: auto;
        align-self: end;
    
    }



}


.collections{
    display: flex;
    flex-direction: column;
}

.collectionWrapper{
    display: flex;
    flex-direction: column;
    .collectionTitle, .collectioneTitle{
        position:sticky;
        top: 3.5*$lineHeight;
        z-index: 100;
        background-color: $hoverbg-color1;
    }
    h1{
        width: 100%;
        height: fit-content;
        margin-top: $lineHeight;
        margin-bottom: 1*$lineHeight;
        text-align: center;
        font-size: $fontSizeL;
   
    }
    div{
        overflow-x: auto;
        *{
            overflow:visible;
        }
        ul{
        display: flex;
        flex-direction: row;
        width: fit-content;
        
        
        a{
            width:25vw;
            // padding: 0 0.25*$lineHeight;
            &:first-of-type{
                padding-left: unset;
            }
            &:last-of-type{
                padding-right: unset;
            }
           li{
                .articleCollection{
                    .thumbnail{
                    width: 100%;
                    }
                }
                h1{
                    font-size: $fontSize;
                }
     

            }   
         }
        }
    }
}


.pswp__content{
    display: flex;
    justify-content: center;
}

.lightboxImageWrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    img{
        max-width:50vw !important;
        max-height:80vh !important;
        justify-content: center;
        align-self: center;
    }
}

.lightbox-image{
    // max-width:50vw !important;
    max-height:50vw !important;
    justify-content: center;
    align-self: center;
    // left: 200px;
}


.contentPage{
    display: grid;
    column-gap: $lineHeight;

    .articleWrapper{
        grid-template-rows: [row] $lineHeight [row] $lineHeight [row] auto;
    }
    .sectionTitle{
        h4{
            text-align: right;
        }
    }
    .topBrackets{
        grid-row-start: 2;
    }
}

.pageContent{
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    p{
        font-size: $fontSizeM;
        line-height: $lineHeightM;
    }
}


.gallery{
    width: 100%;

    .gallery-item{
        margin-top: $lineHeight;
    }
}

@media screen and (max-width: $small) {

.categoryOverview{
    // margin-top: 3*$lineHeight;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
    column-gap: 0.5*$lineHeight;
    .tagsSidebar{
        position: sticky;
        top: 3*$lineHeight;
        grid-column-start: 1;
         grid-column-end: 4;
         height: unset;
        width: 100%;
        background-color: #fff;
        padding-bottom: $lineHeight;
        z-index: 5000;

         > div{  
            grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
            grid-template-rows: repeat(4, $lineHeight [row]);
            column-gap: 0.5*$lineHeight;
            height: unset;
            overflow: unset;
            
            div{
                grid-column: 1/4;
                overflow: unset;
                overflow-x: scroll;
                // overflow-x: scroll;
                // width: 100%;    
            
            ul{
                width: fit-content;
                // padding: 0 0.5*$lineHeight;
                // grid-column-start: 1;
                // grid-column-end: 4;
                column-count: unset;
                column-gap: unset;
                column-fill: unset;
                display: flex;
                // width: 100%;
                // height: 3*$lineHeight;
                // overflow-x: scroll;
                flex-direction: row;
                flex-wrap: nowrap;
                li{
                    padding: unset;
                    width: fit-content;
                    display: flex;
                    height: fit-content;
                &:last-of-type{
                    button{padding-bottom: 0;}
                }
                }
            }
        }
        h2{
            text-align: left;
            margin-left: 0.5*$lineHeight;
        }
        &::before{
            grid-column:1;
            width: 50%;
            text-align: right;
        }
        &::after{
            grid-column: 3;
            width: 50%;
            justify-self: end;
        }


         }
    }
    .results{
        grid-column-start: 1;
        grid-column-end: 4;
    }
}

.articleWrapper{
    grid-template-columns: repeat(3, 1fr [col]) !important;
    column-gap: .5*$lineHeight;
    .sectionTitle{
        h4{
            margin-left: 0.5*$lineHeight;
                text-align: left;
                white-space: nowrap;
        }
    }
    .topBrackets{
        grid-column-start: 1;
        grid-column-end: 4;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.5*$lineHeight;
        span{
            width: 50%;
            &:first-of-type{
                grid-column: 1;
                text-align: right;

            }
            &:last-of-type{
                text-align: left;
                grid-column: 3;
                justify-self: end;
            }
        }
    }
    button {
        a {
            display: none;
        }
    }
    .articleTagWrapper{
        grid-column-start: 1;
        grid-column-end:  4;
        width: 100%;
         display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0 0.5$lineHeight;
            h4{
                word-wrap: nowrap;
                line-height: $lineHeight;
            }
    }
    
    .articleContent, .pageContent{
        padding: 0 0.5*$lineHeight;
        margin-top: 1*$lineHeight;
        grid-column-start:  1;
        grid-column-end:  4;
        display:flex;
        flex-direction: column;
        h1{
            font-size: $sDfontSizeM;
            line-height: $sDlineHeightM;
            margin: 1*$lineHeight 0;
    
        }
        p{
            font-size: $sDfontSize;
            line-height: $sDlineHeight;
            margin-top: 0.5*$lineHeight;
            &:first-of-type{
                margin-top: 0;
            }

        }


    .relatedPostsWrapper{
        grid-column-start:  1;
        grid-column-end:  4;
        // grid-row-start: auto;
        align-self: end;
    
    }
}
.pageContent{
    margin-top: unset;
    margin-bottom: 2*$lineHeight;
}


}


.collections{
    display: flex;
    flex-direction: column;
}

.collectionWrapper{
    display: flex;
    flex-direction: column;
    .collectionTitle, .collectioneTitle{
        position:sticky;
        top: 3*$lineHeight;
        z-index: 2500;
        background-color: $hoverbg-color1;
    }
    h1{
        width: 100%;
        height: fit-content;
        margin-top: $lineHeight;
        margin-bottom: 1*$lineHeight;
        text-align: center;
        font-size: $fontSizeL;
   
    }
    div{
        overflow-x: auto;
        *{
            overflow:visible;
        }
        ul{
        display: flex;
        flex-direction: row;
        width: fit-content;
        
        
        a{
            width:90vw;
            // padding: 0 0.25*$lineHeight;
            &:first-of-type{
                padding-left: unset;
            }
            &:last-of-type{
                padding-right: unset;
            }
           li{
                .articleCollection{
                    .thumbnail{
                    width: 100%;
                    }
                }
                h1{
                    font-size: $fontSize;
                }
     

            }   
         }
        }
    }
}


}

@media screen and (max-width: $medium) {

    .categoryOverview{
        // margin-top: 3*$lineHeight;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
        column-gap: 0.5*$lineHeight;
        .tagsSidebar{
            position: sticky;
            top: 3*$lineHeight;
            grid-column-start: 1;
             grid-column-end: 4;
             height: unset;
            width: 100%;
            background-color: #fff;
            padding-bottom: $lineHeight;
            z-index: 5000;
    
             > div{  
                grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
                grid-template-rows: repeat(4, $lineHeight [row]);
                column-gap: 0.5*$lineHeight;
                height: unset;
                overflow: unset;
                
                div{
                    grid-column: 1/4;
                    overflow: unset;
                    overflow-x: scroll;
                    // overflow-x: scroll;
                    // width: 100%;    
                
                ul{
                    width: fit-content;
                    // padding: 0 0.5*$lineHeight;
                    // grid-column-start: 1;
                    // grid-column-end: 4;
                    column-count: unset;
                    column-gap: unset;
                    column-fill: unset;
                    display: flex;
                    // width: 100%;
                    // height: 3*$lineHeight;
                    // overflow-x: scroll;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    li{
                        padding: unset;
                        width: fit-content;
                        display: flex;
                        height: fit-content;
                    &:last-of-type{
                        button{padding-bottom: 0;}
                    }
                    }
                }
            }
            h2{
                text-align: left;
                margin-left: 0.5*$lineHeight;
            }
            &::before{
                grid-column:1;
                width: 50%;
                text-align: right;
            }
            &::after{
                grid-column: 3;
                width: 50%;
                justify-self: end;
            }
    
    
             }
        }
        .results{
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
    
    .articleWrapper{
        grid-template-columns: repeat(3, 1fr [col]) !important;
        column-gap: .5*$lineHeight;
        .sectionTitle{
            h4{
                margin-left: 0.5*$lineHeight;
                    text-align: left;
                    white-space: nowrap;
            }
        }
        .topBrackets{
            grid-column-start: 1;
            grid-column-end: 4;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 0.5*$lineHeight;
            span{
                width: 50%;
                &:first-of-type{
                    grid-column: 1;
                    text-align: right;
    
                }
                &:last-of-type{
                    text-align: left;
                    grid-column: 3;
                    justify-self: end;
                }
            }
        }
        button {
            a {
                display: none;
            }
        }
        .articleTagWrapper{
            grid-column-start: 1;
            grid-column-end:  4;
            width: 100%;
             display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 0.5$lineHeight;
                h4{
                    word-wrap: nowrap;
                    line-height: $lineHeight;
                }
        }
        
        .articleContent, .pageContent{
            padding: 0 0.5*$lineHeight;
            margin-top: 1*$lineHeight;
            grid-column-start: 1;
            grid-column-end:  4;
            display:flex;
            flex-direction: column;
            h1{
                font-size: $sDfontSizeM;
                line-height: $sDlineHeightM;
                margin: 1*$lineHeight 0;
        
            }
            p{
                font-size: $sDfontSize;
                line-height: $sDlineHeight;
                margin-top: 0.5*$lineHeight;
                &:first-of-type{
                    margin-top: 0;
                }
    
            }
    
    
        .relatedPostsWrapper{
            grid-column-start:  1;
            grid-column-end:  4;
            // grid-row-start: auto;
            align-self: end;
        
        }
    }
    .pageContent{
        margin-top: unset;
        margin-bottom: 2*$lineHeight;
    }
    
    
    }
    
    
    .collections{
        display: flex;
        flex-direction: column;
    }
    
    .collectionWrapper{
        display: flex;
        flex-direction: column;
        .collectionTitle, .collectioneTitle{
            position:sticky;
            top: 3*$lineHeight;
            z-index: 2500;
            background-color: $hoverbg-color1;
        }
        h1{
            width: 100%;
            height: fit-content;
            margin-top: $lineHeight;
            margin-bottom: 1*$lineHeight;
            text-align: center;
            font-size: $fontSizeL;
       
        }
        div{
            overflow-x: auto;
            *{
                overflow:visible;
            }
            ul{
            display: flex;
            flex-direction: row;
            width: fit-content;
            
            
            a{
                width:90vw;
                // padding: 0 0.25*$lineHeight;
                &:first-of-type{
                    padding-left: unset;
                }
                &:last-of-type{
                    padding-right: unset;
                }
               li{
                    .articleCollection{
                        .thumbnail{
                        width: 100%;
                        }
                    }
                    h1{
                        font-size: $fontSize;
                    }
         
    
                }   
             }
            }
        }
    }
    
    
    }

@media screen and (max-width: $medium) {

    .categoryOverview{
        // margin-top: 3*$lineHeight;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
        column-gap: 0.5*$lineHeight;
        .tagsSidebar{
            position: sticky;
            top: 3*$lineHeight;
            grid-column-start: 1;
             grid-column-end: 4;
             height: unset;
            width: 100%;
            background-color: #fff;
            padding-bottom: $lineHeight;
            z-index: 5000;
    
             > div{  
                grid-template-columns: repeat(3, minmax(0, 1fr) [col]);
                grid-template-rows: repeat(4, $lineHeight [row]);
                column-gap: 0.5*$lineHeight;
                height: unset;
                overflow: unset;
                
                div{
                    grid-column: 1/4;
                    overflow: unset;
                    overflow-x: scroll;
                    // overflow-x: scroll;
                    // width: 100%;    
                
                ul{
                    width: fit-content;
                    // padding: 0 0.5*$lineHeight;
                    // grid-column-start: 1;
                    // grid-column-end: 4;
                    column-count: unset;
                    column-gap: unset;
                    column-fill: unset;
                    display: flex;
                    // width: 100%;
                    // height: 3*$lineHeight;
                    // overflow-x: scroll;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    li{
                        padding: unset;
                        width: fit-content;
                        display: flex;
                        height: fit-content;
                    &:last-of-type{
                        button{padding-bottom: 0;}
                    }
                    }
                }
            }
            h2{
                text-align: left;
                margin-left: 0.5*$lineHeight;
            }
            &::before{
                grid-column:1;
                width: 50%;
                text-align: right;
            }
            &::after{
                grid-column: 3;
                width: 50%;
                justify-self: end;
            }
    
    
             }
        }
        .results{
            grid-column-start: 1;
            grid-column-end: 4;
        }
    }
    
    .articleWrapper{
        grid-template-columns: repeat(3, 1fr [col]) !important;
        column-gap: .5*$lineHeight;
        .sectionTitle{
            h4{
                margin-left: 0.5*$lineHeight;
                    text-align: left;
                    white-space: nowrap;
            }
        }
        .topBrackets{
            grid-column-start: 1;
            grid-column-end: 4;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            column-gap: 0.5*$lineHeight;
            span{
                width: 50%;
                &:first-of-type{
                    grid-column: 1;
                    text-align: right;
    
                }
                &:last-of-type{
                    text-align: left;
                    grid-column: 3;
                    justify-self: end;
                }
            }
        }
        button {
            a {
                display: none;
            }
        }
        .articleTagWrapper{
            grid-column-start: 1;
            grid-column-end:  4;
            width: 100%;
             display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                padding: 0 0.5$lineHeight;
                h4{
                    word-wrap: nowrap;
                    line-height: $lineHeight;
                }
        }
        
        .articleContent, .pageContent{
            padding: 0 0.5*$lineHeight;
            margin-top: 1*$lineHeight;
            grid-column-start: 1;
            grid-column-end:  4;
            display:flex;
            flex-direction: column;
            h1{
                font-size: $sDfontSizeM;
                line-height: $sDlineHeightM;
                margin: 1*$lineHeight 0;
        
            }
            p{
                font-size: $sDfontSize;
                line-height: $sDlineHeight;
                margin-top: 0.5*$lineHeight;
                &:first-of-type{
                    margin-top: 0;
                }
    
            }
    
    
        .relatedPostsWrapper{
            grid-column-start:  1;
            grid-column-end:  4;
            // grid-row-start: auto;
            align-self: end;
        
        }
    }
    .pageContent{
        margin-top: unset;
        margin-bottom: 2*$lineHeight;
    }
    
    
    }
    
    
    .collections{
        display: flex;
        flex-direction: column;
    }
    
    .collectionWrapper{
        display: flex;
        flex-direction: column;
        .collectionTitle, .collectioneTitle{
            position:sticky;
            top: 3*$lineHeight;
            z-index: 2500;
            background-color: $hoverbg-color1;
        }
        h1{
            width: 100%;
            height: fit-content;
            margin-top: $lineHeight;
            margin-bottom: 1*$lineHeight;
            text-align: center;
            font-size: $fontSizeL;
       
        }
        div{
            overflow-x: auto;
            *{
                overflow:visible;
            }
            ul{
            display: flex;
            flex-direction: row;
            width: fit-content;
            
            
            a{
                width:90vw;
                // padding: 0 0.25*$lineHeight;
                &:first-of-type{
                    padding-left: unset;
                }
                &:last-of-type{
                    padding-right: unset;
                }
               li{
                    .articleCollection{
                        .thumbnail{
                        width: 100%;
                        }
                    }
                    h1{
                        font-size: $fontSize;
                    }
         
    
                }   
             }
            }
        }
    }
    
    
    }

@media print {
    .articleContent{
    grid-column-start: 2 !important;
    grid-column-end: 12 !important;
    margin-top: $lineHeight !important;
    }
    .articleWrapper{
        button {
            a {
                display: none;
            }
        }
    }
}