@import "./typo.module.scss";

.my-swiper {
  --swiper-theme-color: rgb(0, 0, 0);

  .swiper-slide {
    background-color: white;

    div{
      opacity: 1;
      transition: opacity 2s ease;
    }
  } 

//   .swiper-button-next,
//   .swiper-button-prev {
//     margin: 1rem;
//   }

.swiper-pagination{

}

}

.carousel-cell {
  // padding: 3vw;
  width: 100%;
  display: flex;
    justify-content: center;
  a{
    width: calc(10 / 12 * 100%);
  }
}
