$myColor1: whitesmoke;
$myColor2: rgb(162, 162, 162);

$fontSize: 1rem;
$fontSizeM: 1.5rem;
$fontSizeL: 2.5rem;

@mixin absatzformat {
    font-family: "Arial";
    font-size: $fontSize;

    padding: 0.5*$fontSize 0.7*$fontSize;
    background-color: $myColor1;
}


@media screen and (min-width: 620px) {

}

@media screen and (min-width: 960px) {

}

@media screen and (min-width: 2000px) {
  $fontSize: 1.5rem;
}