$small: 620px;
$medium: 960px;
$large: 1280px;
$xlarge: 2000px;

$hoverbg-color1: #ededea;
$hoverfont-color1: #000;
$myColor1: whitesmoke;
$myColor2: rgb(162, 162, 162);

$transitionFade: all 0.5s;
$transitionMenuBar: all 0.5s ease-in-out;
$transitionMenuBarDelay: 50ms;



$fontSize: 1.125rem; /*18px*/
$fontSizeM: 1.75rem; /*28px*/
$fontSizeL: 2.125rem; /*34px*/
$fontSizeXL: 2.625rem; /*42px*/

$lineHeight: 1.4*$fontSize;
$lineHeightM: 1.21*$fontSizeM;
$lineHeightL: 1.05*$fontSizeL;
$lineHeightXL: 1.05*$fontSizeXL;

@keyframes appearO{
  0% {
      opacity: 0;
      transform:translateX(-20vh);
  } 
  50% {
      opacity: 0;
      transform:translateX(-20vh);
  }
  100% {
      opacity: 1;
      transform:translateX(0);
  }
}

@keyframes appearOsmall{
  from {opacity: 0;} to {opacity: 1;}
}

// $fontFamily: "K-E-FSL-Light";


// @font-face {
//   font-family: "Kleukens Egyptienne Light";
//   src:  src("../fonts/Kleukens-EgyptienneFSL-Light.woff");
//         // local("../fonts/Kleukens-EgyptienneFSL-Light.woff2"),
//         // local("../fonts/Kleukens-EgyptienneFSL-Light.eot");
//   // font-weight: 400;
//   // font-style: normal;
// }


@mixin ke-light {
    font-family: 'Kleukens Egyptienne Light', 'Times New Roman', Times, serif;
    font-size: $fontSize;
    font-weight: 100 !important;
    // padding: 0.5*$fontSize 0.7*$fontSize;
    // background-color: $myColor1;
}

@mixin ke-medium {
  font-family: 'Kleukens Egyptienne Medium', 'Times New Roman', Times, serif;
  font-size: $fontSize;
  // padding: 0.5*$fontSize 0.7*$fontSize;
  // background-color: $myColor1;
}

@mixin ke-book-italic {
    font-family: 'Kleukens Egyptienne Book Italic', 'Times New Roman', Times, serif;
    font-size: inherit;
    // padding: 0.5*$fontSize 0.7*$fontSize;
    // background-color: $myColor1;
}

@mixin ke-bold {
  font-family: 'Kleukens Egyptienne Bold', 'Times New Roman', Times, serif;
  font-size: $fontSize;
  // padding: 0.5*$fontSize 0.7*$fontSize;
  // background-color: $myColor1;
}

@mixin nm-book {
  font-family: 'Neue Montreal Book', 'Times New Roman', Times, serif;
  // font-size: $fontSize;
  // padding: 0.5*$fontSize 0.7*$fontSize;
  // background-color: $myColor1;
}

@media screen and (max-width: $small) {
  :root, *
  {
  $fontSize: 0.75rem; /*14px*/
  $fontSizeM: 1.375rem; /*22px*/
  $fontSizeL: 1.75rem; /*28px*/
  $fontSizeXL: 2.125rem; /*34px*/
  
  $lineHeight: 1.8333*$fontSize;
  $lineHeightM: 1.21*$fontSizeM;
  $lineHeightL: 1*$fontSizeL;
  $lineHeightXL: 1.05*$fontSizeXL;
  }
}

@media screen and (min-width: $small) {

}

@media screen and (min-width: $medium) {

}

@media screen and (min-width: $large) {
}

