@import "../../styles/typo.module.scss";


.layout{
// display:grid;
height: 100vh;
}




header{
    background-color:#fff;
    z-index:10000;
    width:100%;
    // margin-bottom: 2*$lineHeight !important;
    position:fixed;
    top: 0;
    // height: 8*$lineHeight;


    nav{
        display: grid;
        grid-template-columns: repeat(12, 1fr [col]);
        grid-template-rows: repeat(5, $lineHeight [row]);
        column-gap: $lineHeight;
        width: 100%;
        padding: 0 1*$lineHeight;
        box-sizing: border-box;
 
    }


    

}





a{
    transition: all 0.5s;
}


.brand{
    grid-column-start: 1 ;
    grid-column-end: 3;
    grid-row-start: 2;
    a{
        @include ke-bold;
    }
}

ul.secondaryNav{
    grid-column-start: 10; 
    grid-column-end: 13;
    grid-row-start: 2;
}
ul.categories{
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 4;
    li{
        text-align: center;
    }
    li:first-of-type{
        text-align: left;
    }
    li:last-of-type{
        text-align: right;
    }
}

.searchBox{
    grid-column-start: 10;
    grid-column-end:13;
    grid-row-start: 4;
    p{
        cursor:help;

    }
    div{
        grid-column-start: 2;
        grid-column-end: 4;
        cursor:help;
        opacity: 0.6;
        &:hover{
            opacity: 1;
        }
    }

    div:last-of-type{
        padding: 0 !important;
        flex-grow: 1;
        display:flex;
        input{
            width: 100%;
            padding: 0 0.25*$lineHeight;
        }
    }
}
.searchResultsWrapper{
    display: grid;

}

label:focus-within{
    p, div {
        @include ke-medium;
        opacity: 1;
    }
}
input[type=text]{
    margin-top: -5px;
}

ul.secondaryNav, ul.categories, .searchBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr [col]);
    column-gap: inherit;


    li{
        a[aria-current]{
            @include ke-medium;
            color: rgba(0,0,0,1);
        }
        a{
            color: rgba(0,0,0,.4);
            
            &:hover{
                color: rgba(0,0,0,1);
            }
        }
    }
}


footer{
    // position: relative;
    // bottom: 0;
    padding: 0 $lineHeight !important;
    box-sizing: border-box;
    margin-top: 2*$lineHeight !important;
    width: 100%;
    display: grid !important;
    grid-template-columns: repeat(12, 1fr);
    column-gap: $lineHeight;
    height: fit-content;

    ul{
       grid-column-start: 10;
       grid-column-end: 13;
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       column-gap: inherit;
       grid-auto-flow: column;
        li{
            height: 3*$lineHeight;
            a{
                opacity: 0.4;
            &:hover{
                opacity: 1;
            }
            }
            
        }
    }
}