@import "../styles/typo.module.scss";
@import "../components/section/section.module.scss";


body{
    @include ke-light;
 
}


main{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0 1*$lineHeight;
    box-sizing:border-box;
    margin-top: 5*$lineHeight;
}

.recommended, .categoriesLists{ 
    animation: 2s appearO;
}

.categoriesLists{
    display: grid;
    grid-template-columns: repeat(3, 1fr [col]);
    column-gap: $lineHeight;
    grid-auto-flow: column;

    a{
        

        
    }
}

.collectionsColumn{
    display: flex;
    flex-direction: column;
    a{
        width: 100%;
        // margin-top: 2*$lineHeight;
        // margin-bottom: $lineHeight;
    }

}
.collectionsArticle{
        width: 100%;
        text-align: center;
        h1{
            line-height: $lineHeight;
        }
}

.recommended{
    display: flex;
    flex-direction: column;
    margin-bottom: 2*$lineHeight;
    *{
            p{
                font-size: $fontSizeM;
                line-height: $lineHeightM;
            }
            h2{
                width: 8.33%
            }
            span{
            }
    }
}

.features{
    width: 100%;
}

.carousel-cell{

    a{
        width: calc(10/12*100%);
    }
}

.testDiv{
width: 50%;
}

.moreButton{
    grid-column-start: 4;
    grid-row-start: 5;
    @include ke-light;
    opacity: 0.4;
    text-align: right;
    transition: 0.5s all;
    &:hover{
        opacity: 1;
    }
}


