@import "../styles/typo.module.scss";
@import "../components/section/section.module.scss";


body{
    @include ke-light;
 
}


main{
    width: 100%;
    display:flex;
    flex-direction: column;
    padding: 0 1*$lineHeight;
    box-sizing:border-box;
}

.recommended, .categories_lists{ 
    animation: 2s appearO;
}

.categories_lists{
    display:flex;
    flex-direction: row;

    a{
        width: 33.33%;

        
    }
}

.collectionsColumn{
    display: flex;
    flex-direction: column;
    a{
        width: 100%;
        margin-top: 2*$lineHeight;
        margin-bottom: $lineHeight;
    }

}
.collectionsArticle{
        width: 100%;
        text-align: center;
}

.recommended{
    display: flex;
    flex-direction: column;
    margin-bottom: 2*$lineHeight;
    *{
            p{
                font-size: $fontSizeM;
                line-height: $lineHeightM;
            }
            h2{
                width: 8.33%
            }
            span{
                width: 8.33%;
                align-self: flex-start;
                padding-left: calc(8.33% + 1*$lineHeight);
            }
    }
}

.features{
    width: 100%;
}

.carousel-cell{

    a{
        width: calc(10/12*100%);
    }
}

.testDiv{
width: 50%;
}

.moreButton{
    @include ke-light;
    text-align: right;
    transition: 0.5s all;
    &:hover{
        @include ke-medium;
    }
}



