@import "../../styles/typo.module.scss";


.section{
    // width: 100%;

}


.section_title{
    display: flex;
    flex-direction: column;
    // width: 100%;
    position: relative;

    h1 {
        width: 25%;
        justify-self: flex-start;
        text-align: right;
    }
    span{
        box-sizing:content-box;
        width: calc(75% - 1*$lineHeight);
        align-self: flex-end;
    }
}